//Animation ajout
@keyframes fade-in {
    from {opacity: 0; transform: translateY(1rem);}
    to {opacity: 1;transform: translateY(0);}
}

//Animations
body {
    &.show-result {
        .container{
            &-main {
                filter: blur(50px);
                transition: $t-slow;
            }

            &-result {
                transform: translateY(0);
                transition-delay: 0.2s;
                transition: $t-slow;
                &-div {
                    transform: translateY(0);
                    transition-delay: 0.2s;
                    transition: $t-slow;
                }

                .result {
                    transform: translateY(0px);
                    transition: $t-slow;
                }
    
                .btn:first-child {
                    transform: translateY(0px);
                    transition: $t-slow;
                    transition-delay: 0.2s;
                }
                .btn:last-child {
                    transform: translateY(0px);
                    transition: $t-slow;
                }
            }
        }
    }

    &.locked-goBtn {
        #go.btn {
            opacity: 0.2;
        }
    }
}



.btn {
    cursor: pointer;
    padding: 1rem;
    background-color: $c-btn;
    border-radius: $radius;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    
    width: 100vw;
    height: 70%;
    #gradientStart {stop-color: rgb(27, 27, 27);}
    #gradientStop {stop-color: rgb(63, 63, 63);}
}

.form {
    text-align: left;
    
    &-feild {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-top: 0.5rem;
        background-color: $white;
        color: $black;
        border-radius: $radius;
        
        &-input {
            width: 100%;
            padding: 1rem;
        }
        
        .btn-submit{
            display: flex;
            color: $white;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.option-list{
    &-el {
        display: inline-flex;
        margin: 0.5rem;

        padding: 1rem;
        border-radius: $radius;
        background-color: $c-btn;

        cursor: pointer;
        animation: fade-in 0.3s;

        &:last-child{margin-right: inherit;}

        & p {
            margin: 0;
        }
    }
}

.main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 100vh;
}

.container {
    &-main {
        margin: 0 auto;
        width: 100%;
        max-width: 550px;
        filter: blur(0px);
        transition: $t-fast;
    }

    &-result {
        position: absolute;
        z-index: 10000;
        bottom: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, .5);
        
        transform: translateY(-100%);
        transition: $t-fast;
        overflow: hidden;
        
        &-div {
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            transform: translateY(100%);
            transition: $t-fast;
            
            .result {
                transform: translateY(-250px);
                transition: $t-slow;
                transition-delay: 0.5s;
            }

            .btn:first-child {
                transform: translateY(350px);
                transition: $t-slow;
                transition-delay: 0.5s;
            }
            
            .btn:last-child {
                transform: translateY(380px);
                transition: $t-slow;
                transition-delay: 0.2s;
            }
        }

        & .result {
            font-size: $h2;
            text-shadow: 0 0 50px $black;
        }
        
        & .container-bottom {
            &-result {
                .btn{
                    font-size: inherit;
                    margin: 1rem;
                }
            }
        }
    }

    &-bottom {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        padding-bottom: 2rem;
        & .btn {
            font-size: $h3;
            padding: 1.2rem 1.5rem;
        }
    }
}

