$white: #fff;
$black: #000;

$c-btn: rgb(187, 187, 187);

$size-text: 16px;
$line-height: 1.5;

$h4: $size-text * $line-height;
$h3: $h4 * $line-height;
$h2: $h3 * $line-height;
$h1: $h2 * $line-height;


$radius: 7.5px;

$t-fast: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
$t-slow: all 1s cubic-bezier(0.22, 1, 0.36, 1);

$t2-fast: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
$t2-slow: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);