$white: #fff;
$black: #000;

$c-btn: rgb(187, 187, 187);

$size-text: 16px;
$line-height: 1.5;

$h4: $size-text * $line-height;
$h3: $h4 * $line-height;
$h2: $h3 * $line-height;
$h1: $h2 * $line-height;


$radius: 7.5px;